
div{
    display:flex;
    flex-direction: row;
    background-color: #1e1e1e;
    padding:5px;
}
.ul{
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
}
a{
    padding-right: 10px;
    text-decoration: none;
    color: #FFF;
    cursor: pointer;
}
